.centralAdminForm {
  max-width: 900px;
}

.centralAdminForm .field {
  display: grid;
  grid-template-columns:
    32px      /* lock */
    260px     /* label */
    1fr       /* input principal */
    80px      /* output */
  ;
  gap: 12px;
  align-items: center;
  max-width: 1100px;
}

.centralAdminForm label {
  font-weight: 600;
}

.centralAdminForm .actions {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.centralAdminForm .reset {
  background: #ddd;
}

.centralAdminForm .field.locked {
  opacity: 0.5;
}

.centralAdminForm .lock-toggle {
  cursor: pointer;
}

.centralAdminForm input:disabled {
  cursor: not-allowed;
}

.centralAdminForm .value {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
}

