.centralAdminForm {
  max-width: 900px;
}

.centralAdminForm .field {
  display: grid;
  grid-template-columns: 260px 1fr 60px auto;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.centralAdminForm label {
  font-weight: 600;
}

.centralAdminForm .actions {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.centralAdminForm .reset {
  background: #ddd;
}
