/* ================================================
   CENTRALADMIN - SURCHARGES PIWIGO
   Ajustements spécifiques aux pages admin Piwigo
   Version: 3.0.0
   ================================================ */

/* === COMMUNS === */
.eiw ul li:nth-child(2) a[href="admin.php?page=plugins&filter=deactivated"],
#showCreateSite a,
#showAddPermalink a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

/* === PAGE D'ACCUEIL === */
.intro-page-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin: 0 15px 0 15px;
}

/* === BOUTON DE SYNCHRO RAPIDE === */
.showCreateAlbum,
a.icon-plus-circled[href*="page=album"],
#addAlbumForm {
  display: var(--ca-layout-hide-quick-sync, block) !important;
}

/* === BARRE D'ACTIONS === */
.pluginTypeFilter {
  left: var(--ca-layout-align-pluginFilter-left);
}

.pluginFilter {
  right: var(--ca-layout-align-pluginFilter-right);
}

.AlbumViewSelector {
  right: 20px;
}

@media (min-width: 1600px) {
  .pluginTypeFilter {
    left: calc((100vw - var(--ca-layout-admin-width)) / 2 + var(--ca-layout-align-pluginFilter-left));
  }

  .pluginFilter {
    right: calc((100vw - var(--ca-layout-admin-width)) / 2 + var(--ca-layout-align-pluginFilter-right));
  }

  .AlbumViewSelector {
    right: calc((100vw - var(--ca-layout-admin-width)) / 2 + 20px);
  }
}

.sort {
  background-color: #f3f3f3;
}

/* === PLUGINS === */
.pluginMiniBox .pluginDesc {
  height: 6em;
}

.pluginContainer.classic-form .switch {
  top: 43px;
}

.pluginContainer.classic-form {
  display: flex;
  flex-wrap: wrap;
}

.pluginContainer.line-form .pluginBox {
  max-width: 100%;
}

/* Cartes plugins */
.pluginMiniBox {
  width: 323px;
  flex: 1 1 calc(25% - 15px);
  min-width: 260px;
  max-width: 323px;
}

/* Après installation [HACK] */
.eiw ul li:nth-child(2) a[href="admin.php?page=plugins&filter=deactivated"]:before {
  content: "➥ ";
  display: inline;
}

/* === PHOTOS === */
/* Applications */
.applicationCard {
  width: 657px;
  flex: 1 1 calc(25% - 15px);
  max-width: 657px;
  min-width: 500px;
}

/* Tags */
#search-tag {
  right: calc(var(--ca-layout-menubar-width) + 15);
}

.selection-mode-group-manager {
  right: 15px;
  margin-top: 8px;
}

@media (min-width: 1600px) {
  #search-tag {
    right: calc((100vw - var(--ca-layout-admin-width)) / 2 + (var(--ca-layout-menubar-width) + 15)) !important;
  }
  .selection-mode-group-manager {
    right: calc((100vw - var(--ca-layout-admin-width)) / 2 + 15px);
  }
}

.tag-container {
  padding-right: 25px;
}

/* Gestion par lots - Mode global */
#batchManagerGlobal #selectedMessage {
  float: initial;
}

/* Gestion par lots - Mode unitaire */
.bottom-save-bar {
  right: 0px;
  width: calc(var(--ca-layout-admin-width) - var(--ca-layout-menubar-width));
}

@media (min-width: 1600px) {
  .bottom-save-bar {
    right: calc((100vw - var(--ca-layout-admin-width)) /2);
  }
}

/* === UTILISATEURS === */
/* Liste */
.selection-mode-group-manager {
  right: 30px
}

@media (min-width: 1600px) {
  .selection-mode-group-manager {
    right: calc((100vw - var(--ca-layout-admin-width)) / 2 + 30px) !important;
  }
}

/* Notifications - Paramétrage */
.savebar-footer {
  right: 0px;
  width: calc(var(--ca-layout-admin-width) - var(--ca-layout-menubar-width));
}

@media (min-width: 1600px) {
  .savebar-footer {
    right: calc((100vw - var(--ca-layout-admin-width)) /2);
  }
}

/* Historique - Statistiques */
.stat-compare-mode {
  right: 10px
}

@media (min-width: 1600px) {
  .stat-compare-mode {
    right: calc((100vw - var(--ca-layout-admin-width)) / 2 + 10px) !important;
  }
}

/* === MISES À JOUR === */
.icon-block::before {
  display: inline;
}