/* Général */
html {
    background-color: var(--bg_global);
}

#content,
.tabsheet li.selected_tab {
  background-color: var(--bg_content1);
}

#content H1,
#tabsheet {
  background-color: var(--bg_content2);
}

